<div class="author-bio">
  <p>
    Written by <strong>{{ site.author }}</strong>, {{ site.author_bio }}
    He infrequently tweets on <a href="{{ site.social.twitter }}">Twitter</a>,
    occasionally pushes code to <a href="{{ site.social.github }}">GitHub</a>
    and often answers IoT related questions on <a href="{{ site.social.stackoverflow }}">StackOverflow</a>.
    Feel free to connect on <a href="{{ site.social.linkedin }}">LinkedIn</a>.
    Also <a href="{{ site.social.mastodon }}" rel="me">Mastodon</a> is a thing now.
  </p>
</div>
