---
layout: default
---
<div class="home">
  {%- include bio.html -%}

  <h2 class="post-list-heading">{{ page.title | default: "Posts" }}</h2>

  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span>
      <h3>
        {%- if post.external_url -%}
          <a class="post-link" href="{{ post.external_url }}" target="_blank" rel="noopener">{{ post.title | escape }} ↗</a>
        {%- else -%}
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {%- endif -%}
      </h3>
      {%- if post.description -%}
        <p>{{ post.description }}</p>
      {%- elsif post.excerpt -%}
        <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
</div>
